extends layout
block nav
    nav.w3-sidebar.w3-bar-block.w3-small.w3-hide-small.w3-center
        a(href='/introscreen')
            img(src = '/images/LogoResized.png' style='width:100%').
        a(href='/news').w3-bar-item.w3-button.w3-padding-large.w3-hover-black NEWS
            a(href='/about').w3-bar-item.w3-button.w3-padding-large.w3-hover-black ABOUT
            hr
            a(href='/mybands').w3-bar-item.w3-button.w3-padding-large.w3-hover-black MY BANDS
            a(href='/discover').w3-bar-item.w3-button.w3-padding-large.w3-black DISCOVER
    div.w3-top.w3-hide-large.w3-hide-medium#myNavBar
        div.w3-bar.w3-black.w3-opacity.w3-hover-opacity-off.w3-center.w3-small
            a(href='/introscreen').w3-bar-item.w3-button HOME
                style.
                    {width:25%}
            a(href='/about').w3-bar-item.w3-button ABOUT
                style.
                    {
                        width: 25%
                    }
            a(href='/news').w3-bar-item.w3-button NEWS
                style.
                    {width: 25%}
            a(href='/mybands').w3-bar-item.w3-button MY BANDS
                style.
                    {width: 25%}
            a(href='/discover').w3-bar-item.w3-button DISCOVER
                style.
                    {width: 25%}

block content
    style.
        #main {
            margin-left: 120px
        }
        @media only screen and (max-width: 600px) {
            #main {
                margin-left: 0
            }
        }
    div#main.w3-padding-large
        div#home.w3-container.w3-padding-32.w3-center.w3-black
            h1 Artist: #{artist.name}
                h3 Since: #{artist.started}
                h4 Albums
                dl
                    each album in artist_albums
                        dt
                            a(href=album.url) #{album.title}
                    else
                        p This Artist has no albums
            hr
            p
                a(href=artist.url + '/update') UPDATE ARTIST
            p
                a(href=artist.url + '/delete') DELETE ARTIST