extends layout
block nav
    nav.w3-sidebar.w3-bar-block.w3-small.w3-hide-small.w3-center
        a(href='/introscreen')
            img(src = '/images/LogoResized.png' style='width:100%').
        a(href='/news').w3-bar-item.w3-button.w3-padding-large.w3-hover-black NEWS
            a(href='/about').w3-bar-item.w3-button.w3-padding-large.w3-hover-black ABOUT
            hr
            a(href='/mybands').w3-bar-item.w3-button.w3-padding-large.w3-hover-black MY BANDS
            a(href='/discover').w3-bar-item.w3-button.w3-padding-large.w3-black DISCOVER
    div.w3-top.w3-hide-large.w3-hide-medium#myNavBar
        div.w3-bar.w3-black.w3-opacity.w3-hover-opacity-off.w3-center.w3-small
            a(href='/introscreen').w3-bar-item.w3-button HOME
                style.
                    {width:25%}
            a(href='/news').w3-bar-item.w3-button NEWS
                style.
                    {width: 25%}
            a(href='/about').w3-bar-item.w3-button ABOUT
                style.
                    {
                        width: 25%
                    }
            a(href='news.html').w3-bar-item.w3-button MY BANDS
                style.
                    {width: 25%}
            a(href='/discover').w3-bar-item.w3-button DISCOVER
                style.
                    {width: 25%}

block content
    style.
        body {
            background-image: url(/images/introBackground.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        #main {
            margin-left: 120px
        }

        @media only screen and (max-width: 600px) {
            #main {
                margin-left: 0
            }
        }


    div#main.w3-padding-large
        div#home.w3-container.w3-padding-32.w3-center.w3-transparant
            h1 Song: #{song.title}
            //Artist Query

            h3 Artist:
                a(href=song.artist.url) #{song.artist.name}
            h3 Album: #{song.album}
            h3 Release Date: #{song.releaseDate}

        div#player.w3-container.w3-padding-32.w3-center
            script.
                //bron : https://developers.google.com/youtube/iframe_api_reference?hl=nl
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                var player;
                function onYouTubeIframeAPIReady() {
                    player = new YT.Player('player', {
                        height: '190',
                        width: '320',
                        videoId: 'M7lc1UVf-VE',
                        playerVars: {
                            'playsinline': 1
                        },
                        events: {
                            'onReady': onPlayerReady,
                            'onStateChange': onPlayerStateChange
                        }
                    });
                }
                function onPlayerReady(event) {
                    event.target.playVideo();
                }
                function stopVideo() {
                    player.stopVideo();
                }
            iframe#player1(type='text/html', width='320', height='190', src=song.URL_videoclip, frameborder='0', autoplay)
